.todos {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    width: 47.5%;
    background-color: rgb(50, 195, 205);
}

.todos__heading {
    font-size: 30px;
    color: white;
}

.container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-start;
}

.dragActive {
    background-color: rgba(50, 195, 205, 0.8);
}

.dragComplete {
    background-color: rgba(235, 103, 80, 0.8);
}